.cardContainer {
  width: 17vw;
  margin: 1rem;
}

.listCardContainer {
  width: 17vw;
}

@media (max-width: 599px) {
  .cardContainer {
    width: 23vw;
    margin: 0.5rem;
  }
  .listCardContainer {
    font-size: 0.8rem;
    width: 35vw;
    span {
      font-size: 0.5rem;
    }
  }
}

@media (max-width: 414px) {
  .cardContainer {
    width: 34vw;
  }
}

@media (max-width: 375px) {
  .cardContainer {
    width: 50vw;
  }
  .listCardContainer {
    width: 50vw;
  }
}
